@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("./font/RobotoCondensed-Regular.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background: #272727;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  --titleBar-height: 40px;
  --button-width: 55px;
}

body #topBar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: var(--titleBar-height);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #1f1f1f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #topBar .titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body #topBar .titleBar button {
  width: var(--button-width);
  background: none;
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3000;
  border: none;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

body #topBar .titleBar button i::before {
  cursor: pointer;
}

body #topBar .titleBar button i {
  color: #fff;
  cursor: pointer;
}

body #topBar .titleBar button:hover {
  background: #ffffff30;
}

body #topBar .titleBar .githubbtn {
  margin-right: calc(var(--button-width) * 3);
}

body #topBar .titleBar .title {
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

body #topBar .titleDragable {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-app-region: drag;
}

body #topBar .titleBarBtns {
  -webkit-app-region: no-drag;
  position: relative;
  z-index: 3000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #topBar .titleBarBtns #pageNumbers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  visibility: hidden;
  width: calc(var(--button-width) * 2);
}

body #topBar .titleBarBtns #pageNumbers .totalPage {
  display: block;
  font-size: 25px;
}

body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput {
  z-index: inherit;
  width: calc(var(--button-width) * 1);
  text-align: right;
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  cursor: text;
  background: #ffffff10;
  border: none;
  height: 100%;
  box-sizing: border-box;
  color: #ffffff;
}

body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput::-webkit-outer-spin-button, body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput:focus, body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput:active {
  background: #ffffff30;
  outline: none;
}

body #topBar .titleBarBtns button {
  z-index: inherit;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: var(--button-width);
  height: 100%;
}

body #topBar .titleBarBtns button:focus {
  outline: none;
}

body #topBar .titleBarBtns button:hover {
  background: #ffffff30;
}

body #topBar .titleBarBtns button i {
  color: #ffffff;
  font-size: 16px;
}

body #topBar .titleBarBtns #closeBtn:hover {
  background: rgba(232, 17, 35, 0.9);
}

body #app {
  position: relative;
  top: var(--titleBar-height);
  left: 0;
  width: 100%;
  height: calc(100% - var(--titleBar-height));
}

body #app #landingPage {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app #landingPage .appname {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #8f8f8f;
}

body #app #landingPage .appname h1 {
  vertical-align: middle;
  text-align: center;
}

body #app #landingPage .appname h1 button {
  background: #ffffff10;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

body #app #landingPage .appname h1 button:hover {
  background: #ffffff30;
}

body #app #landingPage .appname h1 button i {
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

body #app #landingPage .navCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #app #landingPage .navCont .contTab {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app #landingPage .navCont .contTab button {
  background: #353535;
  color: #ffffff;
  font-family: "roboto";
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: none;
}

body #app #landingPage .navCont .contTab button:hover {
  background: #6b6b6b;
  outline: none;
}

body #app #landingPage .navCont .contTab button i::before {
  cursor: pointer;
}

body #app #landingPage .navCont .contTab h2 {
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #8f8f8f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #app #landingPage .navCont .contTab h2 button {
  padding: 0 10px;
  margin: 0;
}

body #app #landingPage .navCont .contTab .location-cont {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
}

body #app #landingPage .navCont .contTab .location-cont ol {
  counter-reset: countList;
}

body #app #landingPage .navCont .contTab .location-cont ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  border-bottom: 1px solid #6e6e6e;
  height: 100%;
}

body #app #landingPage .navCont .contTab .location-cont ol li:hover {
  background-color: #ffffff4d;
}

body #app #landingPage .navCont .contTab .location-cont ol li a {
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 2px;
  width: 100%;
}

body #app #landingPage .navCont .contTab .location-cont ol li a::before {
  counter-increment: countList;
  content: counter(countList) ". ";
}

body #app #landingPage .navCont .contTab .location-cont ol li button {
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #353535;
}

body #app #landingPage .navCont .contTab .location-cont ol li button:hover {
  background: #6b6b6b;
}

body #app #landingPage .navCont .divider {
  width: 20px;
  cursor: w-resize;
  height: 100%;
  background-color: #8f8f8f2d;
}

body #app #landingPage .navCont #locationsTab input {
  font-size: 20px;
  padding: 10px;
  overflow: scroll;
  width: auto;
  cursor: text;
  background: #ffffff10;
  color: #ffffff;
  font-family: "roboto";
  font-weight: 200;
  border-radius: 3px;
  border: none;
}

body #app #landingPage .navCont #locationsTab input:focus {
  outline: none;
}

body #app #landingPage .navCont #locationsTab .location-cont ol li a {
  cursor: default;
}

body #app #landingPage .navCont #locationsTab .location-cont ol li .open-in-reader-btn {
  background: #353535;
}

body #app #landingPage .navCont #locationsTab .location-cont ol li .open-in-reader-btn:hover {
  background: #6b6b6b;
}

body #app #landingPage .navCont #locationsTab .location-cont ol li .open-in-reader-btn:hover::before {
  display: block;
}

body #app #landingPage .navCont #locationsTab .location-cont ol .already-read {
  background: #4a4d5b;
}

body #app #landingPage .navCont #locationsTab .location-cont ol .already-read:hover {
  background-color: #ffffff4d;
}

body #app #contextMenu {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0px;
  border-radius: 5px;
  width: 240px;
  display: none;
  z-index: 10000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #app #contextMenu ul {
  list-style: none;
}

body #app #contextMenu ul li {
  padding: 10px 15px;
  cursor: default;
}

body #app #contextMenu ul li:hover {
  background: #292929;
}

body #app #fileInfo {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 300px;
  -webkit-transition: 0.5s width;
  transition: 0.5s width;
  z-index: 1000;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app #fileInfo .info-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
}

body #app #fileInfo .info-cont .info {
  word-wrap: none;
}

body #app #loadingScreen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #1f1f1f;
  display: -ms-grid;
  display: grid;
  place-content: center;
  display: none;
  width: 100%;
  height: 100%;
}

body #app #loadingScreen .loadingBarCont {
  position: relative;
  width: 60vw;
  border-radius: 5px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  border: 1px solid #ffffff;
}

body #app #loadingScreen .loadingBarCont .loadingbar {
  position: relative;
  width: 0;
  height: 100%;
  /* border-radius: 5px; */
  background-color: #7b7b7b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #app #reader {
  width: 100vw;
  height: 100%;
  display: none;
  overflow-x: hidden;
}

body #app #reader .currentMangaList {
  background: #1f1f1f;
  height: 100%;
  width: 40%;
  z-index: 100;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  padding: 20px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateX(-99%);
          transform: translateX(-99%);
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}

body #app #reader .currentMangaList::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: var(--button-width);
  height: 40px;
  background: #1f1f1f;
}

body #app #reader .currentMangaList:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body #app #reader .currentMangaList input {
  font-size: 20px;
  padding: 10px;
  margin: 0 auto;
  overflow: scroll;
  width: 80%;
  cursor: text;
  background: #ffffff10;
  color: #ffffff;
  font-family: "roboto";
  font-weight: 200;
  border-radius: 3px;
  border: none;
}

body #app #reader .currentMangaList input:focus {
  outline: none;
}

body #app #reader .currentMangaList h1 {
  font-size: 20px;
  cursor: text;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

body #app #reader .currentMangaList h1 span {
  cursor: text;
  font-weight: 300;
  font-size: 16px;
}

body #app #reader .currentMangaList .location-cont {
  margin-top: 5px;
  overflow: scroll;
  overflow-x: hidden;
}

body #app #reader .currentMangaList .location-cont ol {
  counter-reset: countList;
}

body #app #reader .currentMangaList .location-cont ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #6e6e6e;
}

body #app #reader .currentMangaList .location-cont ol li:hover {
  background-color: #ffffff4d;
}

body #app #reader .currentMangaList .location-cont ol li a {
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 2px;
  width: 100%;
}

body #app #reader .currentMangaList .location-cont ol li a::before {
  counter-increment: countList;
  content: counter(countList) ". ";
}

body #app #reader .currentMangaList .location-cont ol .already-read {
  background: #4a4d5b;
}

body #app #reader .currentMangaList .location-cont ol .already-read:hover {
  background-color: #ffffff4d;
}

body #app #reader::-webkit-scrollbar {
  width: 10px;
}

body #app #reader::-webkit-scrollbar-track {
  background: none;
}

body #app #reader::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 100px;
  background: #888;
}

body #app #reader::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body #app #reader .ctrl-bar {
  --btn-size: 70px;
  position: absolute;
  color: #ffffff;
  border-radius: 100px;
  right: 20px;
  top: 10px;
  z-index: 100;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

body #app #reader .ctrl-bar:hover {
  height: 200px;
}

body #app #reader .ctrl-bar .ctrl-menu-item {
  position: relative;
  top: 0;
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  width: var(--btn-size);
  height: var(--btn-size);
  padding: 10px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

body #app #reader .ctrl-bar .ctrl-menu-item i::before {
  cursor: pointer;
}

body #app #reader .ctrl-bar .ctrl-menu-item:hover {
  background-color: #6e6e6e;
}

body #app #reader .ctrl-bar .ctrl-menu-item i {
  font-size: 15px;
  cursor: pointer;
}

body #app #reader .ctrl-bar .ctrl-menu-extender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}

body #app #reader .ctrl-bar .ctrl-menu-extender .bar {
  cursor: pointer;
  position: absolute;
  width: 50%;
  margin: 3px 0;
  height: 3px;
  background: #fff;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #app #reader .ctrl-bar .ctrl-menu-extender .bar:nth-child(1) {
  left: 50%;
  top: 25%;
}

body #app #reader .ctrl-bar .ctrl-menu-extender .bar:nth-child(2) {
  left: 50%;
  top: 45%;
}

body #app #reader .ctrl-bar .ctrl-menu-extender .bar:nth-child(3) {
  left: 50%;
  top: 65%;
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .bar:nth-child(1) {
  -webkit-transform-origin: middle;
          transform-origin: middle;
  top: 50%;
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .bar:nth-child(2) {
  width: 0;
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .bar:nth-child(3) {
  -webkit-transform-origin: middle;
          transform-origin: middle;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  top: 50%;
}

body #app #reader .ctrl-bar .ctrl-menu {
  display: none;
}

body #app #reader .imgCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app #reader .imgCont ::-webkit-scrollbar-thumb {
  height: 200px;
}

body #app #reader .imgCont img {
  max-width: 100%;
  min-width: 20%;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-home:before {
  content: "\f015";
}

.fa-github:before {
  content: "\f09b";
}

.fa-minus:before {
  content: "\f068";
}

.fa-times:before {
  content: "\f00d";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-file-alt:before {
  content: "\f15c";
}

.fa-plus:before {
  content: "\f067";
}

.fa-window-maximize:before {
  content: "\f2d0";
}

.fa-window-minimize:before {
  content: "\f2d1";
}

.fa-window-restore:before {
  content: "\f2d2";
}

.fa-angle-right:before {
  content: "\f105";
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fontawsome/webfonts/fa-brands-400.woff2") format("woff2");
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fontawsome/webfonts/fa-regular-400.woff2") format("woff2");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("./fontawsome/webfonts/fa-solid-900.woff2") format("woff2");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/*# sourceMappingURL=index.css.map */