@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("./font/RobotoCondensed-Regular.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  cursor: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-primary: #272727;
  --color-secondary: #8f8f8f;
  --color-tertiary: #1f1f1f;
  --topBar-color: #1f1f1f;
  --topBar-hover-color: #ffffff30;
  --input-bg: #ffffff10;
  --btn-color1: #353535;
  --btn-color2: #6b6b6b;
  --listItem-bg-color: #00000000;
  --listItem-hover-color: #ffffff40;
  --listItem-alreadyRead-color: #4a4d5b;
  --toolbar-btn-bg: #1f1f1f;
  --toolbar-btn-hover: #6b6b6b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Roboto";
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background: var(--color-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  --titleBar-height: 40px;
  --button-width: 55px;
}

body [data-tooltip] {
  position: relative;
}

body [data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  --translate: 10px, -50%;
  cursor: inherit;
  --rotate: 0;
  z-index: 10000;
  font-size: 18px;
  display: block;
  white-space: nowrap;
  color: #fff;
  visibility: none;
  background: #000;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(var(--translate)) scale(0) rotate(var(--rotate));
          transform: translate(var(--translate)) scale(0) rotate(var(--rotate));
  padding: 3px 5px;
  -webkit-transition: 0.1s -webkit-transform;
  transition: 0.1s -webkit-transform;
  transition: 0.1s transform;
  transition: 0.1s transform, 0.1s -webkit-transform;
  border-radius: 5px;
}

body [data-tooltip]:hover::before {
  visibility: visible;
  -webkit-transform: translate(var(--translate)) scale(1) rotate(var(--rotate));
          transform: translate(var(--translate)) scale(1) rotate(var(--rotate));
}

body #topBar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: var(--titleBar-height);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--topBar-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #topBar .titleBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #topBar .titleBar button {
  width: var(--button-width);
  background: none;
  position: relative;
  font-family: "Roboto";
  color: #ffffff;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3000;
  border: none;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

body #topBar .titleBar button::before {
  top: 100%;
  left: 50%;
  --translate: -50%, 10px;
}

body #topBar .titleBar button i::before {
  cursor: pointer;
  z-index: 1;
}

body #topBar .titleBar button i {
  color: #fff;
  cursor: pointer;
}

body #topBar .titleBar button:hover {
  background: var(--topBar-hover-color);
}

body #topBar .titleBar .githubbtn {
  margin-right: calc(var(--button-width) * 3);
}

body #topBar .titleBar .title {
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

body #topBar .titleDragable {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-app-region: drag;
}

body #topBar .titleBarBtns {
  -webkit-app-region: no-drag;
  position: relative;
  z-index: 3000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #topBar .titleBarBtns #pageNumbers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  visibility: hidden;
  width: calc(var(--button-width) * 2);
}

body #topBar .titleBarBtns #pageNumbers::before {
  top: 100%;
  left: 50%;
  --translate: -50%, 10px;
}

body #topBar .titleBarBtns #pageNumbers .totalPage {
  display: block;
  font-size: 25px;
}

body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput {
  z-index: inherit;
  width: calc(var(--button-width) * 1);
  text-align: right;
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  cursor: text;
  background: var(--input-bg);
  border: none;
  height: 100%;
  box-sizing: border-box;
  color: #ffffff;
}

body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput::-webkit-outer-spin-button, body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput:focus, body #topBar .titleBarBtns #pageNumbers #NavigateToPageInput:active {
  background: var(--topBar-hover-color);
  outline: none;
}

body #topBar .titleBarBtns button {
  z-index: inherit;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: var(--button-width);
  height: 100%;
}

body #topBar .titleBarBtns button:focus {
  outline: none;
}

body #topBar .titleBarBtns button:hover {
  background: var(--topBar-hover-color);
}

body #topBar .titleBarBtns button i {
  color: #ffffff;
  font-size: 16px;
}

body #topBar .titleBarBtns #closeBtn:hover {
  background: rgba(232, 17, 35, 0.9);
}

body #app {
  position: relative;
  top: var(--titleBar-height);
  left: 0;
  width: 100%;
  height: calc(100% - var(--titleBar-height));
}

body #app button {
  background: var(--btn-color1);
  color: #ffffff;
  font-family: "roboto";
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
}

body #app button:hover {
  background: var(--btn-color2);
  outline: none;
}

body #app button:focus {
  outline: none;
}

body #app button i::before {
  cursor: pointer;
}

body #app input:focus {
  outline: 1px solid var(--color-secondary);
}

body #app #landingPage {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app #landingPage .appname {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #8f8f8f;
}

body #app #landingPage .appname h1 {
  vertical-align: middle;
  text-align: center;
}

body #app #landingPage .appname h1 button {
  background: #ffffff10;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

body #app #landingPage .appname h1 button:hover {
  background: #ffffff30;
}

body #app #landingPage .appname h1 button i {
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

body #app #landingPage .navCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

body #app #landingPage .navCont .contTab {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app #landingPage .navCont .contTab h2 {
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-secondary);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #app #landingPage .navCont .contTab h2 button {
  padding: 0 10px;
  margin: 0;
}

body #app #landingPage .navCont .contTab .location-cont {
  padding: 10px 10px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}

body #app #landingPage .navCont .contTab .location-cont ol {
  position: relative;
  counter-reset: countList;
}

body #app #landingPage .navCont .contTab .location-cont ol li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  background: var(--listItem-bg-color);
  border-bottom: 1px solid var(--color-secondary);
  height: 100%;
}

body #app #landingPage .navCont .contTab .location-cont ol li:hover {
  background-color: var(--listItem-hover-color);
}

body #app #landingPage .navCont .contTab .location-cont ol li a {
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 2px;
  width: 100%;
}

body #app #landingPage .navCont .contTab .location-cont ol li a::before {
  counter-increment: countList;
  content: counter(countList) ". ";
}

body #app #landingPage .navCont .contTab .location-cont ol li button {
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #353535;
}

body #app #landingPage .navCont .contTab .location-cont ol li button:hover {
  background: #6b6b6b;
}

body #app #landingPage .navCont .divider {
  width: 20px;
  height: 100%;
  background-color: #8f8f8f2d;
}

body #app #landingPage .navCont #locationsTab .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
}

body #app #landingPage .navCont #locationsTab .tool #inverseSort {
  padding: 0;
  width: 50px;
  height: 100%;
}

body #app #landingPage .navCont #locationsTab .tool input {
  font-size: 20px;
  padding: 10px;
  overflow: scroll;
  width: 100%;
  cursor: text;
  background: #ffffff10;
  color: #ffffff;
  font-family: "roboto";
  font-weight: 200;
  border-radius: 3px;
  border: none;
}

body #app #landingPage .navCont #locationsTab .location-cont ol li a {
  cursor: default;
}

body #app #landingPage .navCont #locationsTab .location-cont ol li .open-in-reader-btn {
  background: var(--btn-color1);
}

body #app #landingPage .navCont #locationsTab .location-cont ol li .open-in-reader-btn:hover {
  background: var(--btn-color2);
}

body #app #landingPage .navCont #locationsTab .location-cont ol li .open-in-reader-btn:hover::before {
  display: block;
}

body #app #landingPage .navCont #locationsTab .location-cont ol .already-read {
  background: var(--listItem-alreadyRead-color);
}

body #app #landingPage .navCont #locationsTab .location-cont ol .already-read:hover {
  background-color: var(--listItem-hover-color);
}

body #app #contextMenu {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0px;
  border-radius: 5px;
  width: 240px;
  display: none;
  z-index: 10000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #app #contextMenu ul {
  list-style: none;
}

body #app #contextMenu ul li {
  padding: 10px 15px;
  cursor: default;
}

body #app #contextMenu ul li:hover {
  background: var(--btn-color1);
}

body #app #fileInfo {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 300px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.1s top, 0.5s width;
  transition: 0.1s top, 0.5s width;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app #fileInfo .info-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
}

body #app #fileInfo .info-cont .info {
  word-wrap: none;
}

body #app #settings {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: -ms-grid;
  display: grid;
  background: #0004;
  place-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body #app #settings[data-state="open"] {
  visibility: visible;
}

body #app #settings[data-state="open"] .cont {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body #app #settings[data-state="closed"] {
  visibility: hidden;
}

body #app #settings[data-state="closed"] .cont {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body #app #settings .clickClose {
  position: absolute;
  width: 100%;
  height: 100%;
}

body #app #settings .cont {
  position: relative;
  background: var(--color-primary);
  border-radius: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  width: calc(max(700px, 70%));
  height: 90%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 19px 25px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 19px 25px;
  overflow: hidden scroll;
}

body #app #settings .cont > h1 {
  border-bottom: 1px solid var(--color-secondary);
  padding: 10px;
}

body #app #settings .cont .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-size: 1.4em;
  gap: 10px;
}

body #app #settings .cont .content .settingItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app #settings .cont .content .settingItem .name {
  width: 100%;
}

body #app #settings .cont .content .settingItem .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

body #app #settings .cont .content .settingItem .current input {
  background-color: var(--input-bg);
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 15px;
  color: #fff;
  padding: 5px;
  height: 100%;
  border-radius: 3px;
}

body #app #settings .cont .content .settingItem .current button {
  height: 100%;
}

body #app #settings .cont .content .settingItem .current .enabled {
  background-color: #f003;
}

body #app #settings .cont .shortcutKey {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body #app #settings .cont .shortcutKey table {
  border-spacing: 0;
  width: 100%;
}

body #app #settings .cont .shortcutKey table th,
body #app #settings .cont .shortcutKey table td {
  width: 50%;
  padding: 10px 10px;
}

body #app #settings .cont .shortcutKey table tr {
  border: 1px solid var(--color-secondary);
}

body #app #settings .cont .shortcutKey table tr td:first-child {
  text-align: end;
}

body #app #loadingScreen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background: var(--color-tertiary);
  display: -ms-grid;
  display: grid;
  place-content: center;
  display: none;
  width: 100%;
  height: 100%;
}

body #app #loadingScreen .loadingBarCont {
  position: relative;
  width: 60vw;
  border-radius: 5px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  border: 1px solid #ffffff;
}

body #app #loadingScreen .loadingBarCont .loadingbar {
  position: relative;
  width: 0;
  height: 100%;
  /* border-radius: 5px; */
  background-color: var(--color-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #app #reader {
  width: 100vw;
  height: 100%;
  scroll-behavior: smooth;
  display: none;
  overflow-x: hidden;
}

body #app #reader .currentMangaList {
  background: var(--color-tertiary);
  height: 100%;
  width: 40%;
  z-index: 100;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  padding: 20px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateX(-99%);
          transform: translateX(-99%);
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}

body #app #reader .currentMangaList::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: var(--button-width);
  height: 40px;
  background: var(--color-tertiary);
}

body #app #reader .currentMangaList:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body #app #reader .currentMangaList .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2px;
}

body #app #reader .currentMangaList .tool #inverseSort2 {
  padding: 0;
  width: 50px;
  height: 100%;
}

body #app #reader .currentMangaList .tool input {
  font-size: 20px;
  padding: 10px 10px;
  height: 40px;
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
  cursor: text;
  background: var(--input-bg);
  color: #ffffff;
  font-family: "roboto";
  font-weight: 200;
  border-radius: 3px;
  border: none;
}

body #app #reader .currentMangaList h1 {
  font-size: 20px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

body #app #reader .currentMangaList h1 span {
  cursor: text;
  font-weight: 300;
  font-size: 16px;
}

body #app #reader .currentMangaList .location-cont {
  margin-top: 5px;
  overflow: scroll;
  overflow-x: hidden;
}

body #app #reader .currentMangaList .location-cont ol {
  counter-reset: countList;
}

body #app #reader .currentMangaList .location-cont ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  border-bottom: 1px solid var(--color-secondary);
}

body #app #reader .currentMangaList .location-cont ol li:hover {
  background-color: var(--listItem-hover-color);
}

body #app #reader .currentMangaList .location-cont ol li a {
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body #app #reader .currentMangaList .location-cont ol li a .pageNum {
  margin-left: auto;
  min-width: 2em;
  text-align: end;
}

body #app #reader .currentMangaList .location-cont ol li a::before {
  counter-increment: countList;
  content: counter(countList) ". ";
}

body #app #reader .currentMangaList .location-cont ol .already-read {
  background: var(--listItem-alreadyRead-color);
}

body #app #reader .currentMangaList .location-cont ol .already-read:hover {
  background-color: var(--listItem-hover-color);
}

body #app #reader .ctrl-bar {
  --btn-size: 70px;
  position: absolute;
  color: #ffffff;
  border-radius: 100px;
  right: 20px;
  top: 10px;
  z-index: 100;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

body #app #reader .ctrl-bar:hover {
  height: 200px;
}

body #app #reader .ctrl-bar .ctrl-menu-item {
  position: relative;
  top: 0;
  background-color: var(--toolbar-btn-bg);
  color: #ffffff;
  border: none;
  width: var(--btn-size);
  height: var(--btn-size);
  padding: 10px;
  border-radius: 100%;
  z-index: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

body #app #reader .ctrl-bar .ctrl-menu-item::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  left: 0;
  --translate: calc(-100% - 20px), -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  font-size: 20px;
  -webkit-filter: none;
          filter: none;
}

body #app #reader .ctrl-bar .ctrl-menu-item i::before {
  cursor: pointer;
}

body #app #reader .ctrl-bar .ctrl-menu-item:hover {
  background-color: var(--toolbar-btn-hover);
}

body #app #reader .ctrl-bar .ctrl-menu-item i {
  font-size: 15px;
  cursor: pointer;
}

body #app #reader .ctrl-bar .ctrl-menu-extender {
  cursor: pointer;
  z-index: 2;
  position: relative;
}

body #app #reader .ctrl-bar .ctrl-menu-extender .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 50%;
  height: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}

body #app #reader .ctrl-bar .ctrl-menu-extender .cont .bar {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  left: 50%;
}

body #app #reader .ctrl-bar .ctrl-menu-extender .cont .bar:nth-child(1) {
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

body #app #reader .ctrl-bar .ctrl-menu-extender .cont .bar:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #app #reader .ctrl-bar .ctrl-menu-extender .cont .bar:nth-child(3) {
  top: 100%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .cont {
  --rotate: 45deg;
  -webkit-transform: rotate(var(--rotate));
          transform: rotate(var(--rotate));
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .cont .bar:nth-child(1) {
  -webkit-transform-origin: middle;
          transform-origin: middle;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  top: 50%;
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .cont .bar:nth-child(2) {
  width: 0;
}

body #app #reader .ctrl-bar .ctrl-menu-extender-open .cont .bar:nth-child(3) {
  -webkit-transform-origin: middle;
          transform-origin: middle;
  -webkit-transform: translate(-50%, -100%) rotate(calc(2 * var(--rotate)));
          transform: translate(-50%, -100%) rotate(calc(2 * var(--rotate)));
  top: 50%;
}

body #app #reader .ctrl-bar .ctrl-menu {
  display: none;
}

body #app #reader .imgCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app #reader .imgCont ::-webkit-scrollbar-thumb {
  height: 200px;
}

body #app #reader .imgCont img {
  max-width: 100%;
  min-width: 20%;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-sort:before {
  content: "\f0dc";
}

.fa-cog:before {
  content: "\f013";
}

.fa-home:before {
  content: "\f015";
}

.fa-github:before {
  content: "\f09b";
}

.fa-minus:before {
  content: "\f068";
}

.fa-times:before {
  content: "\f00d";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-file-alt:before {
  content: "\f15c";
}

.fa-plus:before {
  content: "\f067";
}

.fa-window-maximize:before {
  content: "\f2d0";
}

.fa-window-minimize:before {
  content: "\f2d1";
}

.fa-window-restore:before {
  content: "\f2d2";
}

.fa-angle-right:before {
  content: "\f105";
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fontawsome/webfonts/fa-brands-400.woff2") format("woff2");
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fontawsome/webfonts/fa-regular-400.woff2") format("woff2");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("./fontawsome/webfonts/fa-solid-900.woff2") format("woff2");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/*# sourceMappingURL=index.css.map */